/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.4rem;
  padding-bottom: 2%;
}

h2, h3 {
  font-size: 1.8rem;
}

h4, p {
  font-size: 1.4rem;
}

img {
  height: auto;
  width: 100%;
}

section {
  margin-bottom: 4%;
}

.App {
  font-family: sans-serif;
  width: 100%;
}

.tab {
  margin: 0 4%;
}

.navigation {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  border-bottom: 1px solid rgb(221, 221, 221);
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.45);
}

.icons {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}

.links {
  font-size: 1.4rem;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.link, .icon {
  text-decoration: none;
  color: black;  
  padding-left: 8%; 
}

.link:hover, .icon:hover {
  color: #C70039;  
}

.navDrawerMenu {
  visibility: hidden;
}

.resume {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 50px;
}

#projects {
  margin-bottom: 20vh;
}

.projectList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project {
  padding: 2%;
}

.footer {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0 4%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid rgb(221, 221, 221);
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.45);
}

/* tablet */
@media only screen and (max-width: 800px) {
  .navDrawerMenu {
    visibility: hidden;
  }
}

/* mobile */
@media only screen and (max-width: 500px) {
  .links {
    display: none;
  }

  .navDrawerMenu {
    visibility: visible;
  }
}